* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open sans", "Arial" sans-serif;
  color: #444444;
}

*:focus {
  outline-color: #ff7500;
  outline-offset: 3px;
  outline-width: 2px;
  outline-style: dashed;
}
ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
}
/* Header qismi */
.site-header {
 background-color: #fff;
}

.contanier {
 width: 100%;
 max-width: 1120px;
 padding-left: 10px;
 padding-right: 10px;
 margin-left: auto;
 margin-right: auto;
}

.header-contanier {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav {
 display: flex;
 align-items: center;
 justify-content:center;
}

.nav {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.site-nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-nav-text {
  margin-right: 32px;
}

.header-nav-text-1 {
  margin: 0;
  margin-right: 70px;
  color: #222;
}

/* Sayt logosi */
.logo-site {
  width: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  text-decoration: none;
}

/* Logo */
.logo {
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
  outline: 0;
}

.logo:active {
  opacity: 0.6;
  outline: 0;
}

/* Logo matni */
.logo-text {
  font-size: 24px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 700;
  color: #222;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.logo-text:hover {
  color: #DE2E54;
  outline: 0;
}

.logo-text:active {
  opacity: 0.6;
  color: #DE2E54;
  outline: 0;
}

/* heaner navigatsiyasi matni */
.header-nav-text {
  color: #222;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.header-nav-text:hover {
 color: #DE2E54;
 outline: 0;
}

.header-nav-text:active {
  opacity: 0.6;
  color: #DE2E54;
  outline: 0;
 }

 .button {
  display: inline-block;
  width: 190px;
  background-color: #DE2E54;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 22px 10px 22px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: background-color  0.3s ease opacity 0.3s ease color  0.3s ease ;
 }

 .button:hover {
  background-color: #fff;
  color: #DE2E54;
  border: 2px solid #DE2E54;
  outline: 0;
 }

 .button:active {
  background-color: #DE2E54;
  color: #fff;
  border: 2px solid transparent;
  opacity: 0.6;
  outline: 0;
 }

 /* Hero qismi */
 .hero {
  background-color: #0EB4C1;
 }

 .hero-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .hero-content {
  font-size: 36px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 43.2px;
  color: #fff;
  margin: 0;
  margin-bottom: 16px;
 }

 .hero-content-text {
  font-size: 18px;
  font-family: "open sans", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  margin-bottom: 36px;
 }

 /* Hizmatlar qismi */

 .service {
  font-size: 36px;
  font-family: "open sans", "arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #222;
  margin: 0;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
 }

 .services {
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items:center;
 }

 .services-text {
  margin: 0;
  margin-left: 64px;
 }

 .services:last-child {
  margin-bottom: 0;
 }

 .services-img {
  display: block;
  box-shadow: 0px 12px 24px 08px rgba(0, 107, 116, 0.30);
  border-radius: 24px;
 }

 .service-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 120px;
 }

 .frame {
  font-family: "open sans", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #222;
  margin: 0;
  margin-bottom: 24px;
 }

 .frame-text {
  margin: 0;
  font-family: "Open sans", "arial", sans-serif;
 }

 /* Sayt footer qismi */

.site-footer {
 background-color: #0EB4C1;
}

.footer-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 164px;
  padding-bottom: 64px;
}

.qabul {
 font-size: 36px;
 font-family: "Open-sans", "Arial", sans-serif;
font-weight: 700;
line-height: 43.2px;
color: #fff;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
padding-top: 64px;
margin-bottom: 40px;
}

.tarmoq {
  text-decoration: none;
}

.tarmoq-1 {
  margin: 0;
  margin-right: 20px;
}

.tarmoq-2 {
  margin: 0;
  margin-left: 20px;
}
.footer {
  background-color: #222;
}

.footer-contanier {
 padding-top: 0;
}

.logo-text-2 {
 color: #fff;
}

.tarmoq {
 color: #fff;
 font-family: "open sans", "arial", sans-serif;
 font-size: 15px;
 font-style: normal;
 font-weight: 700;
 line-height: 1.2;
 letter-spacing: 2px;
 text-transform: uppercase;
 padding: 12px 24px 12px 24px;
 border: 2px solid #fff;
 border-radius: 8px;
 transition: color 0.3s ease opacity 0.3s ease;
}

.tarmoq:hover {
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  outline: 0;
}

.tarmoq:active {
  opacity: 0.6;
  outline: 0;
}

/* Footer navigatsiyasi */

.footer-contanier-1 {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.footer-nav {
 color: #fff;
 font-family: "open sans", arial, sans-serif;
 font-size: 14px;
 font-style: normal;
 font-weight: 700;
 line-height: 1.5;
 letter-spacing: 2px;
 text-transform: uppercase;
 margin: 0;
 margin-left: 32px;
 transition: color 0.3s ease opacity 0.3s ease;
}

.footer-nav:hover {
  color: #DE2E54;
  outline: 0;
}

.footer-nav:active {
  opacity: 0.6;
  outline: 0;
}